<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2018 Alo7 Inc. All rights reserved. -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alo7.archetype.persistence.mapper.primary.UserMapper">

    <sql id="columns">
        id,user_name
    </sql>

    <select id="findByName" resultType="com.alo7.archetype.persistence.entity.primary.User">
        SELECT
            <include refid="columns"/>
        FROM
            user
        WHERE
            user_name = #{name}
    </select>
</mapper>
